* {
  margin: auto;
  text-align: center;
  box-sizing: content-box;
}
body {
  background-color: aquamarine;
}

h1 {
  font-family: "Bungee Spice", cursive;
  border: 1px solid black;
  padding: 10px;
  font-size: 50px;
  background-color: rgba(45, 68, 110, 0.678);
  margin: 20px auto 10px;
}

.beginner-table {
  border: 1px outset rgb(0, 0, 0);
  table-layout: fixed;
  width: 50%;
  background-color: grey;
  margin-bottom: 20px;
  cursor: crosshair;
  border-spacing: 3px;
  border-radius: 2%;
}

.medium-table {
  border: 1px outset rgb(0, 0, 0);
  table-layout: fixed;
  width: 100%;
  background-color: grey;
  margin-bottom: 20px;
  cursor: crosshair;
  border-spacing: 3px;
  border-radius: 2%;
}

.expert-table {
  border: 1px outset rgb(0, 0, 0);
  table-layout: fixed;
  width: 100%;
  background-color: grey;
  margin-bottom: 20px;
  cursor: crosshair;
  border-spacing: 3px;
  border-radius: 2%;
}

.board-container {
  margin-top: 20px;
  width: min-content;
}

td {
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  border-radius: 10%;
  text-align: center;
  background-color: rgb(65, 29, 150);
  border-style: outset;
  height: 30px;
  width: 30px;
}
td:hover {
  background-color: rgb(111, 49, 255);
}

button {
  margin: 5px;
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(4, 103, 233, 0.904);
  color: rgb(231, 138, 31);
  cursor: pointer;
}

button:hover {
  background-color: aqua;
}

.game-over {
  font-size: xx-large;
  text-align: center;
  cursor: pointer;
  margin: auto;
  padding: 10px;
}

.buttons-container {
  margin-top: 2px;
}
.timer-container {
  font-family: "Fira Sans", sans-serif;
  position: fixed;
  right: 20px;
  border: 2px solid black;
  font-size: large;
  background-color: rgb(255, 135, 23);
  color: black;
  height: 50px;
  width: 100px;
}
.lives-container {
  font-family: "Fira Sans", sans-serif;
  position: fixed;
  left: 20px;
  border: 2px solid black;
  font-size: large;
  background-color: rgb(255, 135, 23);
  color: black;
  height: 50px;
  width: 150px;
}

.hidden-content {
  display: none;
}
.hidden-flag {
  display: none;
}

.clicked {
  border-style: inset;
  background-color: rgba(65, 29, 150, 0.438);
}
